@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  margin: 14px 0 4px 0;
}

button {
  margin: 0 6px;
  padding: 2px 6px;
}
