@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
  font-family: 'Roboto', sans-serif;
}

.menu-item {
  padding: 5px;
}

li {
  color: grey;
  font-size: 15px;
  padding-top: 3px;
}

.note {
  color: grey;
  font-size: 15px;
  padding-top: 5px;
}
