@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

form {
  padding: 5px 0 10px 0;
}

input {
  margin: 0 5px 5px 0;
  padding: 3px;
}

label {
  padding: 0 5px 0 0;
}

button.anchor {
  background-color: unset;
  border: unset;
  color: blue;
  cursor: pointer;
  padding: 0;
  text-decoration: underline;
}

label.loginFields {
  display: inline-block;
  min-width: 80px;
}

label.blogFields {
  display: inline-block;
  min-width: 50px;
}
